/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/pythonProject.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_08_2022_10_51_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_08_2022_10_51__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_08_2022_10_51_[Changes]/shelved.patch
/Всякое/файл.txt
