/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/pythonProject.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_08_2022_10_51_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_11_08_2022_10_51__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_11_08_2022_10_51_[Changes]/shelved.patch
/.idea
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/shelf/Uncommitted_changes_before_Update_at_12_09_2022_11_33_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Update_at_21_07_2022_11_25_[Changes]/shelved.patch
/Stepik-python.iml
/shelf/Uncommitted_changes_before_Update_at_12_09_2022_11_33_[Changes]/test.jpg
/shelf/Uncommitted_changes_before_Update_at_12_09_2022_11_33_[Changes]/test2.jpg
/shelf/Uncommitted_changes_before_Update_at_12_09_2022_11_33__Changes_.xml
/vcs.xml
/workspace.xml
